/* Banner area css
============================================================================================ */
.banner_area{
    background: url(../img/banner/banner-bg-1.jpg) no-repeat scroll center center;
    min-height: 311px;
    position: relative;
    background-size: cover;
    z-index: 3;
    &:before{
        content: '';
        background: rgba(0, 0, 0, .20);
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0px;
        top: 0px;
        position: absolute;
    }
    .banner_content{
        text-align: center;
        padding-top: 160px;
        position: relative;
        min-height: 311px;
        h3{
            font-size: 48px;
            color: #fff;
            font-family: $ub;
            font-weight: bold;
            position: relative;
            margin-bottom: 10px;
            &:before{
                content: attr(title);
                position: absolute;
                width: 100%;
                text-align: center;
                left: 0px;
                top: -45px;
                font-family: $ub;
                font-weight: bold;
                font-size: 150px;
                color: rgba(255, 255, 255, .08);
                z-index: -1;
            }
            .left_img{
                padding-right: 20px;
            }
            .right_img{
                padding-left: 20px;
            }
        }
        a{
            font-size: 16px;
            color: #fff;
            font-family: $av; 
            z-index: 3;
            margin-right: 15px;
            position: relative;
            @include transition;
            &:before{
                content: "\f105";
                font: normal normal normal 14px/1 FontAwesome;
                position: absolute;
                right: -12px;
                top: 50%;
                transform: translateY(-50%);
            }
            &:last-child{
                &:before{
                    display: none;
                }
            }
            &:hover{
                color: $baseColor;
            }
        }
        .shop_banner_cart{
            position: absolute;
            right: 0px;
            bottom: -25px;
            li{
                display: inline-block;
                margin-right: 16px;
                width: 50px;
                a{
                    font-size: 16px;
                    color: #fff;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 50px;
                    background: $baseColor;
                    display: inline-block;
                    @include transition;
                    position: relative;
                    &:hover{
                        background: $dip;
                    }
                    &:after{
                        content: "2";
                        background: #fff;
                        color: $baseColor;
                        height: 20px;
                        width: 20px;
                        position: absolute;
                        right: -4px;
                        top: 0px;
                        border-radius: 50%;
                        line-height: normal;
                    }
                }
                &:first-child{
                    a{
                        &:after{
                            opacity: 0;
                        }
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
    &.banner_area2{
        background: url(../img/banner/banner-bg-2.jpg) no-repeat scroll center center;
        background-size: cover;
        .banner_content{
            position: relative;
            .advanced_search{
                position: relative;
                bottom: 0px;
                padding-bottom: 30px;
                padding-top: 63px;
            }
        }
    }
    &.profile_banner{
        background: url(../img/banner/banner-bg-3.jpg) no-repeat scroll center center;
        min-height: 421px;
        position: relative;
        background-size: cover;
        .profiles_inners{
            position: absolute;
            width: 100%;
            left: 0px;
            bottom: 0px;
            .profile_content{
                position: relative;
                .user_img{
                    display: inline-block;
                    position: relative;
                    bottom: -30px;
                }
                .user_name{
                    display: inline-block;
                    padding-left: 28px;
                    position: relative;
                    top: 92px;
                    h3{
                        display: inline-block;
                        font-size: 30px;
                        font-family: $ub;
                        font-weight: bold;
                        color: #fff;
                        padding-right: 15px;
                    }
                    h4{
                        display: inline-block;
                        font-family: $ub;
                        font-size: 16px;
                        font-weight: 500;
                        color: #fff;
                    }
                    ul{
                        li{
                            display: inline-block;
                            margin-left: 22px;
                            a{
                                font-size: 16px;
                                font-family: $ub;
                                font-weight: 500;
                                color: #fff;
                                position: relative;
                                @include transition;
                                &:before{
                                    content: "";
                                    width: 1px;
                                    height: 10px;
                                    position: absolute;
                                    left: -12px;
                                    top: 4px;
                                    background: #fff;
                                }
                            }
                            &:first-child{
                                margin-left: 0px;
                                a{
                                    &:before{
                                        display: none;
                                    }
                                }
                            }
                            &:hover{
                                a{
                                    color: $baseColor;
                                }
                            }
                            &.extara{
                                .dropdown-menu{
                                    min-width: 285px;
                                    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
                                    border: 1px solid #e0e0e0;
                                    border-radius: 5px;
                                    padding: 0px;
                                    top: 180%;
                                    margin: 0px;
                                    display: block;
                                    transition: all 300ms ease-in;
                                    opacity: 0;
                                    visibility: hidden;
                                    &:before{
                                        content: "";
                                        width: 0;
                                        height: 0;
                                        border-style: solid;
                                        border-width: 0 6px 12px 6px;
                                        border-color: transparent transparent #fff transparent;
                                        position: absolute;
                                        top: -12px;
                                        left: 20px;

                                    }
                                    li{
                                        width: calc(100% / 2);
                                        float: left;
                                        overflow: hidden;
                                        margin: 0px;
                                        .circle1{
                                            width: 80px;
                                            height: 80px;
                                            position: relative;
                                            margin: auto;
                                            strong{
                                                position: absolute;
                                                top: 50%;
                                                left: 0%;
                                                width: 100%;
                                                text-align: center;
                                                transform: translateY(-50%);
                                                color: $pfont;
                                                font-size: 22px;
                                                font-family: $ub;
                                                font-weight: 500;
                                            }
                                        }
                                        .circle2{
                                            width: 80px;
                                            position: relative;
                                            height: 80px;
                                            margin: auto;
                                            strong{
                                                position: absolute;
                                                top: 50%;
                                                left: 0%;
                                                width: 100%;
                                                text-align: center;
                                                transform: translateY(-50%);
                                                color: $pfont;
                                                font-size: 22px;
                                                font-family: $ub;
                                                font-weight: 500;
                                            }
                                        }
                                        h4{
                                            text-align: center;
                                            color: $pfont;
                                            display: block;
                                            padding: 10px 0px 30px 0px;
                                            font-family: $ub;
                                            font-weight: 500;
                                        }
                                        &:first-child{
                                            display: block;
                                            text-align: center;
                                            font-size: 22px;
                                            font-family: $ub;
                                            font-weight: 500;
                                            color: $pfont;
                                            width: 100%;
                                            float: none;
                                            margin-top: 20px;
                                            margin-bottom: 25px;
                                        }
                                        &:nth-child(2){
                                            position: relative;
                                            &:before{
                                                content: "";
                                                height: 112px;
                                                width: 1px;
                                                background: #e0e0e0;
                                                position: absolute;
                                                right: 0px;
                                                bottom: 25px;
                                            }
                                        }
                                    }
                                }
                                &:hover{
                                    .dropdown-menu{
                                        top: 155%;
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }
                        }
                    }
                }
                .right_side_content{
                    display: inline-block;
                    position: absolute;
                    right: 0px;
                    bottom: 30px;
                    i{
                        color: #fff;
                        font-size: 25px;
                        position: relative;
                        top: 8px;
                        padding-right: 25px;
                    }
                    .nav.navbar-nav{
                        li{
                            a{
                                padding: 0px;
                                background: transparent;
                                line-height: 49px;
                                display: inline-block;
                            }
                            &.dropdown{
                                .dropdown-menu{
                                    padding: 0px;
                                    margin: 0px 0px 0px 0px;
                                    border: none;
                                    left: -50%;
                                    @include transition;
                                    border-top: 1px solid $baseColor;
                                    border-bottom: 1px solid $baseColor;
                                    border-radius: 0px;
                                    text-align: center;
                                    background: transparent; 
                                    top: 163%;
                                    li{
                                        a{
                                            display: block;
                                            line-height: 40px;
                                            display: block;
                                            color: #fff;
                                            position: relative;
                                            text-shadow: none;
                                            border-bottom: 1px solid $black;
                                            background: rgba(0, 0, 0, .62);
                                            font-size: 14px;
                                            font-family: $ub;
                                        }
                                        &:hover{
                                            a{
                                                color: $baseColor;
                                                background: rgba(0, 0, 0, .80);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .login_btn{
                        margin-right: 28px;
                        width: 170px;
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}
/* End Banner area css
============================================================================================ */