{% extends 'baseadmin.html.twig' %}
{% block title %} Ajouter Articles {% endblock %}

{% block body %}
<br><br><br>




    <div class="row">
        <div class="col-md-6">
            <div class="registration_man">

            </div>
        </div>
        <div class="col-md-5">



                <div class="form-group row">

                    <br><br>
                   <center> <h2>Modifier la Catégorie</h2></center>
                    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
                    {{ form(form) }}

                </div>
                <br>



        </div>
    </div>
    </div>
    </div>

{% endblock %}




